@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
body{
    background-color:var(--neutral-dark);
    font-family: 'Outfit', sans-serif;
}
main{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}

.nft-card{
    max-width: 350px;
    background-color: var(--neutral-medium);
    border-radius: 15px;
    padding: 24px;
}
.image-link .image{
    width: 100%;
    border-radius: 10px;
}
.title-link .title{
   font-size: 22.5px;
   color: #ffffff;
   margin: 18px 0 17px 
}
.about{
    color: var(--primiry-soft);
    font-size: 18px;
    font-weight: 100px;
    line-height: 25px;
    margin-bottom: 23px;
}
.info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px ;
    font-weight: 800;
}
.info .price{
    color: var(--primary-medium);
    display: flex;
    font-size: 16px;
}
.info .price::before{
    content: '';
    background-image: url(../images/icon-ethereum.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 11px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}
.info .days-left{
    color: var(--primiry-soft);
    display: flex;
    font-weight: 200;
    font-size: 16px;

}
.info .days-left::before{ 
    content: '';
    background-image: url(../images/icon-clock.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 15px;
    height: 100%;
    display: inline-block;
    margin-right: 10px;

}
.creator{ 
    display: flex;
    /* background-color: aqua; */
    align-items: center;
    border-top: 1px solid var(--neutral-soft);
    padding-top: 15px;
}
.creator .avatar{
    max-width: 35px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 15px;
}
.creator .text{
    color: var(--primiry-soft);
}
.creator .text .name{
    color: #ffffff; 
}